*,
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.logo-img,
.grow-img,
.flowing-img,
.your-img,
.hero-img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 1em;
}

.nav-btn {
  border-radius: 50px;
  border: none;
  background: #fff;
  padding: .5em 2em; 
  box-shadow: 0px 10px 13px -7px #dedcdc, 0px 4px 10px 8px rgba(0,0,0,0.01);
}

.logo {
  width: 6em;
}

.main-hero {
  background: hsl(193, 100%, 96%);
}

.hero {
  background-image: url('../images/bg-hero-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
}

.title {
  padding: 4em 1em 3em;
}

.hero-title {
  font-size: 1.75rem;
}

.hero-desc {
  padding: 1.5em 1em;
}

.hero-btn {
  font-size: .85rem;
  padding: 1em 6em;
  border-radius: 50px;
  text-transform: capitalize;
  margin-bottom: 4em;
  border: none;
  background: hsl(322, 100%, 66%);
  color: #fff;
}

.grow-card,
.flowing-card,
.your-card,
.ready-card {
 margin: 3em 1.5em;
 padding: 3em 1.5em;
 font-size: 1rem;
 text-align: center;
 border-radius: 1em;
 box-shadow: 1px 7px 23px 1px #cdcbcb, 0px 4px 5px 8px rgba(0,0,0,0.01);
}

.grow-title,
.flowing-title,
.your-title {
  margin: 3em 0 1em;
  text-transform: capitalize;
}

.grow-desc,
.flowing-desc,
.your-desc {
  color: hsl(208, 11%, 55%);
}

.ready-card {
  margin-top: 5em;
  margin-bottom: -4.5em;
  background: #fff;
  position: relative;
  z-index: 100; 
  box-shadow: 0 -5px 15px -5px #dedcdc; 
}

.ready-title {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 2em;
}

.ready-btn {
  font-size: .75rem;
  padding: 1em 4em;
  border-radius: 50px;
  text-transform: capitalize;
  border: none;
  background: hsl(322, 100%, 66%);
  color: #fff;
}

footer {
  position: relative;
  background: rgb(34, 34, 34);
  color: #fff;
  padding: 5em 1em 3em;
}

.ft-img {
  width: 50%;
  margin-top: 2em;
}

.icons {
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  font-size: .95rem;
}

.icons:nth-child(2) {
  margin-top: 1em;
}

.icon {
  padding: 1em 0;  
}

.list-items {
  margin: 3em 0;
  font-size: 1rem;
  font-weight: 300;
}

.list-item {
  padding: .5em 0;
  text-transform: capitalize;
}

.social {
  text-align: center;
  padding: 1em;
}

i {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: .45em;
  margin: 0 .4em .5em;
}

i.fab.fa-facebook-f {
  width: 35px;
  height: 35px;
}

.copyright {
  text-align: center;
  font-size: .75rem;
}

@media(min-width: 700px) {

  .card-sections {
    margin: 0 3em;
  }

  .hero {
  background-image: url('../images/bg-hero-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
  }
  
  .main-hero {
   padding: 0 3em 3em;
  }

  .title-sec {
    display: flex; 
    margin-top: 2em;
  }

  .title { 
    text-align: left;
    width: 60%;
    margin-right: 2em;
  }

  .hero-desc {
    padding: 0;
    margin: 1em 0;
  }

  .grow-card,
  .your-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .flowing-card {
    display: flex;
    align-items: center;
  }

  .grow-title-sec,
  .flowing-title-sec,
  .your-title-sec {
    text-align: left;
    margin: 0 5em;
    padding:0;
  }

  .grow-img,
  .flowing-img,
  .your-img {
    width: 40%;
  }

  .grow-desc
  .your-desc {
    max-width: 85%;
  }

  .grow-title,
  .flowing-title,
  .your-title {
    margin: 0 0 .5em;
  }

  .ready-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

}
