*,
* ::before,
* ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.logo-img,
.grow-img,
.flowing-img,
.your-img,
.hero-img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em 1em;
}

.nav-btn {
  border-radius: 50px;
  border: none;
  background: #fff;
  padding: .5em 2em; 
  box-shadow: 0px 10px 13px -7px #dedcdc, 0px 4px 10px 8px rgba(0,0,0,0.01);
}

.logo {
  width: 6em;
}

.main-hero {
  background: hsl(193, 100%, 96%);
}

.hero {
  background-image: url('../images/bg-hero-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
}

.title {
  padding: 4em 1em 3em;
}

.hero-title {
  font-size: 1.75rem;
}

.hero-desc {
  padding: 1.5em 1em;
}

.hero-btn {
  font-size: .85rem;
  padding: 1em 6em;
  border-radius: 50px;
  text-transform: capitalize;
  margin-bottom: 4em;
  border: none;
  background: hsl(322, 100%, 66%);
  color: #fff;
}

.grow-card,
.flowing-card,
.your-card,
.ready-card {
 margin: 3em 1.5em;
 padding: 3em 1.5em;
 font-size: 1rem;
 text-align: center;
 border-radius: 1em;
 box-shadow: 1px 7px 23px 1px #cdcbcb, 0px 4px 5px 8px rgba(0,0,0,0.01);
}

.grow-title,
.flowing-title,
.your-title {
  margin: 3em 0 1em;
  text-transform: capitalize;
}

.grow-desc,
.flowing-desc,
.your-desc {
  color: hsl(208, 11%, 55%);
}

.ready-title {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 2em;
}
.ready-btn {
  font-size: .75rem;
  padding: 1em 4em;
  border-radius: 50px;
  text-transform: capitalize;
  border: none;
  background: hsl(322, 100%, 66%);
  color: #fff;
}